/* You can add global styles to this file, and also import other style files */
.btn-orange {
    background: #fd7e14;
    color: #ffff;
}

.btn-orange:hover {
    opacity: 0.85;
    color: #fff;
}

.bg-login {
    background-image: url('assets\img\img-burger-login.png');
    border-radius: 16px 0px 0px 16px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.active {
  color: #EF5A3A;
}

.active a:hover {
  color: #EF5A3A;
}

.text-orange {
  color: #EF5A3A;
}

.text-gray-ligth {
  color: #B9B9B9;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper-flexbox .card-category {
  flex: 0 0 auto;
  height: auto;
  width: 105px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #F5F5F5;
  color: #B9B9B9;
}

.category-active {
  background-color: #FBBB21 !important;
  color: #ffff !important;
}

.category-active i {
  color: #FBBB21;
}

.icon-category {
  background-color: #ffff;
  border-radius: 5px;
  height: 65px;
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}