<div class="row">
    <div class="col-md-12">
        <h5 class="mt-3 mx-3">
            Historial
        </h5>
        <div class="mt-2 mx-3">

                  <div class="row  mt-5">
                    <!-- tabla de historial -->
                    <div class="table-responsive ">
                        <table class="table color-myGray-text">
                            <thead>
                                <tr>
                                  <th scope="col">Nº</th>
                                  <th scope="col">Cliente</th>
                                  <th scope="col">Detalle de pedido</th>
                                  <th scope="col">Total</th>
                                  <th scope="col">Estado</th>
                                  <th scope="col">Fecha y Hora</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Cathy</td>
                                  <td>Detalle de pedido</td>
                                  <td>s/9.50</td>
                                  <td><span class="badge span-on-hold">En espera</span></td>
                                  <td>11/12/2021<br>8:30am</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>Yovana</td>
                                  <td>Detalle de pedido</td>
                                  <td>s/12.50</td>
                                  <td><span class="badge span-in-preparation">En preparación</span></td>
                                  <td>11/12/2021<br>8:30am</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>Maria</td>
                                  <td>Detalle de pedido</td>
                                  <td>s/12.50</td>
                                  <td><span class="badge span-ready">Listo</span></td>
                                  <td>11/12/2021<br>8:30am</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Delia</td>
                                    <td>Detalle de pedido</td>
                                    <td>s/12.50</td>
                                    <td><span class="badge span-finalized">Finalizado</span></td>
                                    <td>11/12/2021<br>8:30am</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5</th>
                                    <td>Rut</td>
                                    <td>Detalle de pedido</td>
                                    <td>s/12.50</td>
                                    <td><span class="badge span-cancelled">Cancelado</span></td>
                                    <td>11/12/2021<br>8:30am</td>
                                  </tr>
                              </tbody>
                        </table>
                      </div>
                  </div>

        </div>
    </div>
</div>

