<div class="scrolling-wrapper-flexbox row mx-1">
 
  <div *ngFor="let option of optionsCategory" class="card-category" [ngClass]="option.value ? 'category-active':''" (click)="loadProducts(option.nameCategory,option.id)">
    <div class="icon-category"><i class="{{option.icon}}"></i></div>
    <span>{{option.nameCategory}}</span>
  </div>

</div>

<div class="row mx-1">

  <div *ngFor="let product of dataProducts" class="col-sm-4 py-3 py-sm-0 col-md-4 mt-3 card-product">
    <div class="card box-shadow" (click)="modifyProducts(product)">
     
        <img src="{{ product.image }}" class="card-img-top ">
        <div class="position-absolute card-img-top text-center product-img-selected" *ngIf="dataSelectedProducts.getDataSelectProducts().includes(product)">
          <i class="fas fa-check-circle"></i>
        </div>

      <div class="card-body">
        <h6 class="card-title text-product">{{ product.name }}</h6>
        <h6 class="card-text price-product">S/. {{ product.price }}</h6>
      </div>
    </div>
  </div>

</div>