<div class="row">
    <div class="col-sm-4 py-3 py-sm-0 col-md-4 mt-3 card-product">

        <div class="card box-shadow" (click)="modifyProducts(['1', 'Jugo de fresa', 'https://acortar.link/4ZkbrZ', '8.90'])">
          <img src="https://acortar.link/4ZkbrZ" class="card-img-top position-relative" >
          <div class="position-absolute card-img-top product-img-selected text-center" *ngIf="selectedProducts.includes('1')">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="card-body">
            <h6 class="card-title text-product">Jugo de Fresa</h6>
            <h6 class="card-text price-product">S/. 8.90</h6>
          </div>
        </div>
      </div>
    
    
      <div class="col-sm-4 py-3 py-sm-0 col-md-4 mt-3 card-product">
        <div class="card box-shadow" (click)="modifyProducts(['2', 'Jugo de mango', 'https://acortar.link/3xY9x4', '5.30']) " >
          <img src="https://acortar.link/3xY9x4" class="card-img-top " >
          <div class="position-absolute card-img-top product-img-selected text-center" *ngIf="selectedProducts.includes('2')">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="card-body">
            <h6 class="card-title text-product">Jugo de Mango</h6>
            <h6 class="card-text price-product">S/. 5.30</h6>
          </div>
        </div>
      </div>
    
    
      <div class="col-sm-4 py-3 py-sm-0 col-md-4 mt-3 card-product">
        <div class="card box-shadow" (click)="modifyProducts(['3', 'Jugo de papaya', 'https://acortar.link/QNsPSb', '6.20'])">
          <img src="https://acortar.link/QNsPSb" class="card-img-top " >
          <div class="position-absolute card-img-top text-center product-img-selected" *ngIf="selectedProducts.includes('3')">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="card-body">
            <h6 class="card-title text-product">Jugo de Papaya</h6>
            <h6 class="card-text price-product">S/. 6.20</h6>
          </div>
        </div>
      </div>
    
      <div class="col-sm-4 py-3 py-sm-0 col-md-4 mt-3 card-product">
        <div class="card box-shadow" (click)="modifyProducts(['4', 'Jugo de melon', 'https://acortar.link/7SqRaH', '4.5'])">
          <img src="https://acortar.link/7SqRaH" class="card-img-top " >
          <div class="position-absolute card-img-top product-img-selected text-center " *ngIf="selectedProducts.includes('4')">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="card-body">
            <h6 class="card-title text-product">Jugo de Melon</h6>
            <h6 class="card-text price-product">S/. 4.50</h6>
          </div>
        </div>
      </div>
</div>