<div class="row mx-1">
  <div *ngFor="let product of dataProducts" class="col-sm-4 py-3 py-sm-0 col-md-4 mt-3 card-product">
    <div class="card box-shadow" (click)="modifyProducts(product)">
      <img src="{{ product.img }}" class="card-img-top ">
      <div class="position-absolute card-img-top text-center product-img-selected" *ngIf="dataSelectedProducts.getDataSelectProducts().includes(product)">
        <i class="fas fa-check-circle"></i>
      </div>
      <div class="card-body">
        <h6 class="card-title text-product">{{ product.name }}</h6>
        <h6 class="card-text price-product">S/. {{ product.price }}</h6>
      </div>
    </div>
  </div>
</div>