<section class="vh-100" style="background-color: #FBBB21;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block bg-login">
                  <!-- imagen -->
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form #formLogin="ngForm" (submit)="sendEmailPassword(formLogin.value)" ngNativeValidate>
  
                    <div class="row justify-content-center mb-3 pb-1">
                      <img src="assets\img\logo.svg" style="width: 50%;">
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3 text-secondary" style="letter-spacing: 1px;">Iniciar sesión en su cuenta</h5>
  
                    <div class="form-outline mb-4 form-group">
                      <label class="form-label" for="email" >Correo</label>
                      <input type="email" name="email" id="email" ngModel class="form-control form-control-lg" required >
                    </div>
  
                    <div class="form-outline mb-4 form-group">
                      <label class="form-label" for="password">Contraseña</label>
                      <input type="password" name="password" id="password" ngModel class="form-control form-control-lg" required />
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-orange input-block-level form-control" type="submit">Iniciar sesión</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Olvide mi contraseña</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>