<form class="bg-light ps-3 pe-3 pt-1">
  <div class="row">
    <input type="text" class="form-control" id="cliente" placeholder="Nombre Cliente" required />
  </div>
  <div class="row mt-3">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr *ngFor="let product for [tableSelectedProducts]">
            <td>
              {{product.id}}
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="alert alert-warning text-end" role="alert">
       <p>Total <span class="total-sumary"> S/. 17.50</span></p>
    </div>
  </div>
  <div class="row">
    <textarea class="form-control" id="Textarea1" rows="3" placeholder="Notas"></textarea>
  </div>
  <div class="row">
    <button class="btn btn-orange2 mt-3">Enviar Pedido</button>
    <button class="btn  btn-outline-secondary mt-2">Cancelar</button>
  </div>
</form>