  <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
      <a href="/" class="d-block p-3 link-dark text-decoration-none">
        <img src="../../../assets/img/logo-icono.svg">
      </a>
      <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mx-auto text-center justify-content-between w-100 px-2 align-items-center">
          <li class="nav-item">
              <a href="#" class="nav-link py-3 px-2">
                  <i class="fa fa-book fs-1 active" title="Menu"></i>
              </a>
          </li>
          <li>
              <a href="#" class="nav-link py-3 px-2">
                  <i class="fa fa-paper-plane fs-1 text-gray-ligth" title="Enviados"></i>
              </a>
          </li>
          <li>
              <a href="#" class="nav-link py-3 px-2">
                  <i class="fa fa-bell fs-1 text-gray-ligth" title="Listos"></i>
              </a>
          </li>
          <li>
              <a href="#" class="nav-link py-3 px-2">
                <i class="fas fa-sign-out-alt fs-1 text-gray-ligth" title="Salir"></i>
              </a>
          </li>
          <li>
            <a href="#" class="nav-link py-3 px-2">
              <img src="../../../assets/img/mesero.jpg" width="25" height="25" class="avatar" alt="Perfil" title="Perfil">
            </a>
        </li>
      </ul>
  </div>
