<div class="row">
    <div class="col-md-8">
        <h5 class="mt-3 mx-3">
            Categorias
        </h5>
        <div class="scrolling-wrapper-flexbox row mx-1">
            <div class="card-category category-active" routerLink="/login">
                <div class="icon-category"><i class="fas fa-mug-hot"></i></div>
                <span>Desayunos</span>
            </div>
            <div class="card-category">
                <div class="icon-category"><i class="fas fa-hamburger"></i></div>
                <span>Hambur...</span>
            </div>
            <div class="card-category">
                <div class="icon-category"><i class="fas fa-bacon"></i></div>
                <span>Acompañ...</span>
            </div>
            <div class="card-category">
                <div class="icon-category"><i class="fas fa-cocktail"></i></div>
                <span>Bebidas</span>
            </div>
            <div class="card-category">
                <div class="icon-category"><i class="fas fa-utensils"></i></div>
                <span>Otros</span>
            </div>

        </div>
        <app-container-productos></app-container-productos>
    </div>
    <div class="col-md-4">
        <app-container-sumary></app-container-sumary>
    </div>
</div>