<div class="row">
    <div class="col-md-12">
        <h5 class="mt-3">
            Enviados a la cocina
        </h5>
        <div class="scrolling-wrapper-flexbox row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">En espera</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">En preparacion</a>
                </li>
              </ul>
        </div>
    </div>
</div>